.block {
	background: #18b5a4;

	height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	margin: 20px;
}

.block1 {
	background: url('../img/bg_repeat.jpg');

	height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	margin: 20px;
}

.block2 {
	background: url('../img/bg_repeat.jpg') space;

	height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	margin: 20px;
}

.block3 {
	background: url('../img/bg_repeat.jpg') center no-repeat;

	height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	margin: 20px;
}

.block4 {
	background: url('../img/bg_repeat.jpg') center no-repeat, url('../img/screenshot.png') no-repeat fixed;

	height: 300px;
	border-radius: 20px;
	box-shadow: 0px 0px 10px black;
	margin: 20px;
}

