.exampleblock {
	padding: 10px 5px 10px 5px;
	margin: 10px;
	border: 1px solid black;
	overflow: auto;
	max-height:200px;
	max-width: 300px;
	text-align: justify;
	text-shadow: 1px 1px 60px;
}

.examplestring {
	display: block;
	padding: 10px;
	border: 1px solid black;
}

.photo {
	margin: 20px;
	width: 500px;
}