<!DOCTYPE html>

<html lang="en">
    <head>
        <title>My Layout 1 Project!</title>
        <meta http-equiv="content-type" content="text/html; charset=UFT-8"/>
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <div class="grid">
            <div class="background">
                <div class="travel">
                    TRAVEL
                </div>
                <div class="status">
                   <p>Donec sed odio dui. Cras mattis consectetur purus sit amet ferm</p>
                </div>
                <div class="main">
                    <img src="./img/main.png" alt="Oops">
                </div>
                <div class="description1">
                    <p>Donec aredsed odio dui. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Donec ullamcorper nulla non metus auctor fringilla.</p>
                </div>
                <div class="description2">
                    <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. </p>
                </div>

                <div class="numeration">
                    <ul>
                        <li class="li1">Put on this page information about your product</li>
                        <li class="li2">A detailed description of your product</li>
                        <li class="li3">Tell us about the advantages and merits</li>
                        <li class="li4">Associate the page with the payment system</li>
                    </ul>
                </div>
                <button class="button">FULL STORY →</button>
            </div>
        </div>
    </body>
</html>